/*-----------font style start-----------
---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*-----------font style end------------
---------------------------------------*/

/*--------Common style start------------
---------------------------------------*/

body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;  
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(#74b9ff,#0984e3);
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0.2, 0.2, 0, 0.2);
    transition: 0.5s ease-in-out;
}
.button:hover{
    color: black;
    background-image:linear-gradient(#0984e3,#74b9ff);
}

/*--------Common style End------------
---------------------------------------*/

/*--------Banner style start------------
---------------------------------------*/

.top-banner{
    background-color: #2D25A0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
}
.half-width{
    width: 80%;
    margin-left: 8%;
}
h1{
    font-size: 50px;
    color: #FFFFFF;
}
.half-width img{
    width: 556px;
    height: 438px;
}

/*---------Banner style End-------------
---------------------------------------*/

/*---------players style start----------
---------------------------------------*/
.players-section{
    width: 950px;
    align-items: center;
    margin-left: 10%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;margin-bottom: 80px;
}
.player{
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0.2, 0.2, 0, 0.2);

}
.player-img img{
    width: 300px;
    height: 246px;
}
h3{
    font-size: 1.5em;
}

/*---------players style End-----------
---------------------------------------*/

/*-----video section style start--------
---------------------------------------*/
.video-section{
    padding-right:80px ;
}
h2{
    font-size: 40px;
}
p{
    color:#6C6C6C;
}
iframe{
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0.2, 0.2, 0, 0.2);
}
/*-----video section style End--------
---------------------------------------*/

/*-----signup section style start--------
---------------------------------------*/
.signup-section{
    padding: 80px;
    text-align: center;
    background-color:#ecf0f1 ;
}

/*-----signup section style End--------
---------------------------------------*/

/*-----footer section style start--------
---------------------------------------*/
footer{
    text-align: center;
    padding-bottom: 40px;
}
.footer-logo img{
    padding-top: 20px;
    height: 150px;
}
.social-icon{
    padding-bottom: 20px;
    font-size: 40px;
}
.social-icon i{
    color: black;
}
/*-----footer section style End--------
---------------------------------------*/

/*------ Media Queries phn Start--------
---------------------------------------*/

@media only screen and (max-width:688px){
    .flexible-container{
        margin: 0;
        flex-direction: column;
        grid-template-columns: repeat(1, 1f);
        align-items: center; 
    }
    .top-banner img{
        margin-top: 40px;
        width: 100%;
        height: 50%;
    }
    .players-section{
       margin: 0;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 20px;margin-bottom: 80px;
        margin-top: 20px;
        margin-left: 26px;   
    }
    .video-section{
        text-align: center;
    }
    iframe{
       width: 120%;
       margin-top: 40px;
       margin-bottom: 40px;  
    }
    .footer-logo img{
        width: 50%;
        height: 20%;
    }
}
/*------ Media Queries phn End--------
---------------------------------------*/